.input-login-email {
position: absolute;
width: 547px;
height: 54px;
left: 138px;
top: 344px;

/* Grey Scale / Grey-300 */

border: 1px solid #7D7E80;
box-sizing: border-box;
border-radius: 8px;
}

.input-login-password {
position: absolute;
width: 547px;
height: 54px;
left: 138px;
top: 413px;

/* Grey Scale / Grey-300 */

border: 1px solid #7D7E80;
box-sizing: border-box;
border-radius: 8px;
}

.button-login {
display: flex;
justify-content: center;
position: absolute;
width: 547px;
height: 54px;
left: 138px;
top: 500px;

/* Primary / Yelllow */

background: #FFCB05;
border-radius: 8px;
}

.text-button {
display: flex;
justify-content: center;
width: 100px;
height: 24px;
left: 164px;
top: 515px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

/* Grey Scale / Grey-500 */

color: #1E1E1F;
}

.h1-login-area {
  position: absolute;
  width: 365px;
  height: 108px;
  left: 138px;
  top: 188px;
  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  
  /* Grey Scale / Grey-500 */
  
  color: #1E1E1F;
}

.image-logo-pokemon {
position: absolute;
width: 206px;
height: 76px;
left: 138px;
top: 33px;
}

.screen-pokemons {
z-index: -3;
position: absolute;
width: 1920px;
height: 1080px;
left: 400px;
top: 0px;
}
