.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input-login-email {
  font-size: 1.5em;
  position: absolute;
  width: 547px;
  height: 54px;
  left: 138px;
  top: 344px;
  /* Grey Scale / Grey-300 */
  border: 1px solid #7D7E80;
  box-sizing: border-box;
  border-radius: 8px;
  }
  .input-login-password {
  font-size: 1.5em;
  position: absolute;
  width: 547px;
  height: 54px;
  left: 138px;
  top: 413px;
  /* Grey Scale / Grey-300 */
  border: 1px solid #7D7E80;
  box-sizing: border-box;
  border-radius: 8px;
  }
  .button-login {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 547px;
  height: 54px;
  left: 138px;
  top: 500px;
  /* Primary / Yelllow */
  background: #FFCB05;
  border-radius: 8px;
  }
  .text-button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 24px;
  left: 164px;
  top: 515px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  /* Grey Scale / Grey-500 */
  color: #1E1E1F;
  }
  .h1-login-area {
    position: absolute;
    width: 365px;
    height: 108px;
    left: 138px;
    top: 188px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 54px;
    
    /* Grey Scale / Grey-500 */
    
    color: #1E1E1F;
  }
  .image-logo-pokemon {
  position: absolute;
  width: 206px;
  height: 76px;
  left: 138px;
  top: 33px;
  }
  .screen-pokemons {
  z-index: -3;
  position: absolute;
  width: 1635px;
  height: 1054px;
  left: 400px;
  top: 0px;
  }
  .button-change-theme {
  position: absolute;
  width: 208px;
  height: 38px;
  left: 138px;
  top: 950px;
  /* Grey Scale / Grey-400 */
  border: 1px solid #4B4B4D;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: white;
  }
  .theme-text {
  margin-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #4B4B4D;
  }
  .vector-theme-moon {
    width: 15px;
  }

.section-header {
display: flex;
justify-content: space-evenly;
align-items: center;
position: absolute;
width: 100%;
height: 50px;
left: 0px;
top: 0px;

/* Primary / Yelllow */

background: #FFCB05;
}

.pokemon-logo-header {
  width: 90px;
}

.buttons-links-header-favoritos {
font-family: 'Poppins';
text-decoration: none;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 18px;
/* identical to box height */

text-align: center;

/* Grey Scale / Grey-500 */

color: #1E1E1F;
}

.buttons-links-header-procurar {
font-family: 'Poppins';
text-decoration: none;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 18px;
/* identical to box height */

text-align: center;

/* Grey Scale / Grey-500 */

color: #1E1E1F;

}

.buttons-links-header-verTodos {
font-family: 'Poppins';
text-decoration: none;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 18px;
/* identical to box height */

text-align: center;

/* Grey Scale / Grey-500 */

color: #1E1E1F;
}

.links-header-section {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.button-leave-header {
display: flex;
align-items: center;
padding-left: 4px;
padding-right: 4px;
width: 89px;
height: 28px;
justify-content: space-between;
border: 1px solid #343232;
box-sizing: border-box;
border-radius: 8px;
background: #FFCB05;
}

.leave-vector {
  width: 15px;
}

.section-cards-pokemon {
display: flex;
padding: 10px;
margin: 10px;
flex-direction: column;
align-items: center;
width: 220px;
height: 330px;
background: white;
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
border-radius: 8px;
}

.pokemon-image {
  width: 120px;
  margin-left: 15px;
}

.name-pokemon {
display: flex;
justify-content: flex-start;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #000000;
}

.section-mainPokes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  background-color: #E5E5E5;
}

.button-pokemons-details {
  width: 147px;
  margin-left: 15px;
  height: 32px;
  background: #FFCB05;
  border-radius: 8px;
  border: none;
}

.heart-pokemons {
  margin-top: 10px;
}

.div-poke-heart {
  display: flex;
  flex-direction: row-reverse;
}

.div-elet-fire {
  display: flex;
  width: 180px;
  justify-content: space-around;
}

.tag-p-elet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 25px;
  left: 147px;
  top: 324px;
  background: #FFCB05;
  border-radius: 10px;
}

.tag-p-fire {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  width: 70px;
  height: 25px;
  left: 147px;
  top: 324px;
  background: #FF3326;
  border-radius: 10px;
}

.section-cards-api-pokemon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}